<html>
  <body>
    <h1>Lista Contactos
    <% for (i = 0; i < students.childNodes.length; i++) { %>
      <h4><%= students.childNodes[i].childNodes[4].childNodes[0].nodeValue %></h4>
      <% } %>
  </body>
</html>
